/*////////////////////////////////////////////////////////////////////////////*/
/* PICO-8 fargepalett */
/*////////////////////////////////////////////////////////////////////////////*/

:root {
    --color0:  #000000;
    --color1:  #1D2B53;
    --color2:  #7E2553;
    --color3:  #008751;
    --color4:  #AB5236;
    --color5:  #5F574F;
    --color6:  #C2C3C7;
    --color7:  #FFF1E8;
    --color8:  #FF004D;
    --color9:  #FFA300;
    --color10: #FFEC27;
    --color11: #00E436;
    --color12: #29ADFF;
    --color13: #83769C;
    --color14: #FF77A8;
    --color15: #FFCCAA;
}


/*////////////////////////////////////////////////////////////////////////////*/


body {
    background: var(--color0);
    color: var(--color7);
    font-family: "IBM VGA 8x16";
    /*text-align: justify;
    text-justify: inter-word;*/
}

main {
    min-width:700px;
    max-width:700px;
    margin-top:0;
    margin-bottom:0;
}

section {
    padding:0;
}

a {
    color: var(--color14);
}

p {
    margin: 0.85rem 0;
}

.header {
    padding-bottom:2.5rem;
}

.margintop {
    margin-top:2.5rem;
}

.quote {
    border: solid 2px var(--color6);
    box-shadow: 8px 8px 0 0 var(--color6);
    padding:1rem;
    margin: 3rem 0;
}

.quote span {
    margin-left:1rem;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0.5rem;
  justify-content: space-between;
  margin:2.25rem 0;
}

img.p8img {
    width:320px;
}

img.p8cart {
    width:160px;
}

.caption, .kilder, .kode {
    color: var(--color6);
}

.caption, .kilder {
    font-size: .9rem;
}

.caption, .code {
    margin: 0.25rem auto 0 auto;
    text-align:center;
}

.caption {
    width:320px;
    font-weight:bold;
}

.code {
    max-width:256px;
    font-size: .7rem;
}

.zerobottommargin {
    margin-bottom:0;
}