<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PICO-8</title>
  <link rel="shortcut icon" href="/img/pico8/favicon.png" />
  <link rel="alternate" type="application/rss+xml" title="feed" href="/feed.xml" />
  <link rel="sitemap" type="application/xml" title="sitemap" href="/sitemap.xml" />
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <link rel="stylesheet" href="/pico8.css" type="text/css" />
</head>
  <body>
    <script data-goatcounter="https://lzzrhx.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <main>
      <section>
        {{ content }}
      </section>
    </main>
  </body>
</html>
